<!-- views/layouts/main.ejs -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/css/theme.css" />
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="theme-<%= themePreference || "light" %>">
  <%- include('../partials/navbar') %>
  <main>
    <%- body %>
  </main>
</body>
</html>


